.jankx-base {
    .jankx-container {
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }
}

body:not(.jankx-base) {
    >:not(.main-content-sidebar) {
        .jankx-container {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.screen-reader-text {
    position: absolute;
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

@media(max-width:1024px) {
}

@media(max-width:767px) {
}
