.jankx-base {
    .jankx-container {
        margin-right: auto;
        margin-left: auto;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
    }
}

body:not(.jankx-base) {
    >:not(.main-content-sidebar) {
        .jankx-container {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@media(max-width:1024px) {
}

@media(max-width:767px) {
}
