.widgets-area-inner {
    ul {
        li {
            &+li {
            margin-top: 10px;
            }
        }
    }
}

@media(min-width: 768px) {
    .widgets-area-inner {
        display: flex;
        flex-wrap: wrap;
    }
}
