.clearfix, .jankx-clearfix {
    clear: both;
}

small {
    font-size: 88%;
}

a {
    text-decoration: none;
}

.jankx-loading {
    display: none;
}

.jankx-logo {
    &.image {
        a {
            display: block;
            background-repeat: no-repeat;
            background-position: left center;
            height: 60px;
            width: 180px;
            text-indent: -9999px;
        }
    }
}

.jankx-ui {
    &.navigation {
        ul.menu {
            display: flex;
            align-items: center;
        }
        li {
            a {
                display: block;
                padding: 5px 10px;
            }
            &.small-text {
                a {
                    font-size: 88%;
                }
            }
        }

        .jankx-subtitle {
            &.position-bottom,&position-top {
                display: block;
            }
            font-size: 88%;
        }
    }
}

.jankx-footer-widgets-area {
    padding-top: 20px;
    padding-bottom: 20px;
}

.jankx-copyright {
    padding-top: 40px;
    padding-bottom: 40px;
}
