.clearfix, .jankx-clearfix {
    clear: both;
}

.jankx-loading {
    display: none;
}

.jankx-logo {
    &.image {
        a {
            display: block;
            background-repeat: no-repeat;
            background-position: left center;
            height: 60px;
            width: 180px;
            text-indent: -9999px;
        }
    }
}


#jankx-main-content {
    line-height: 180%;
    position: relative;
}

.jankx-footer-widgets-area {
    padding-top: 20px;
    padding-bottom: 20px;
}

.jankx-copyright {
    padding-top: 40px;
    padding-bottom: 40px;
}



/** Component */
.jankx-tabs {
    display: flex;

    .tab {
    }
}

.post-content {
    img {
        max-width: 100%;
    }
}

@media(min-width: 767px) {
    .jankx-ui {
        &.navigation {
            .jankx-subtitle {
                &.position-bottom, &.position-top {
                    display: block;
                }
                &.position-top {
                    margin-bottom: 2px;
                }
                &.position-bottom {
                    margin-top: 2px;
                }
                font-size: 88%;
            }
        }
    }
}
