@media(min-width: 768px) {
    .default-navigation {
        .navigation {
            width: 100%;
        }

        .menu-item-type-jankx-search-form {
            flex: 1;
        }

        div.menu>ul, :not(.widget_nav_menu) > div >ul.menu {
            display: flex;
            align-items: center;
            > li {
                position: relative;
                &:hover {
                    .sub-menu {
                        display: flex;
                        flex-direction: column;
                    }
                }
                &.center {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                }
            }
            .sub-menu {
                display: none;
                position: absolute;
                top: 0;
                left: 100%;
                z-index: 10;

                >li {
                    position: relative;
                    display: block;
                    white-space: nowrap;
                    &:hover{
                        .sub-menu {
                            display: block;
                        }
                    }

                    >.sub-menu {
                        display: none;
                        position: absolute;
                        top: 0;
                        left: 100%;
                    }
                }
            }
        }
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .default-navigation {
        div.menu>ul, :not(.widget_nav_menu) > div >ul.menu {
            li {
                &.hide-tablet {
                    display: none;
                }
                &.mobile-only {
                    display: none;
                }
                &.desktop-only {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .default-navigation {
        div.menu>ul, :not(.widget_nav_menu) > div >ul.menu {
            li {
                &.hide-desktop {
                    display: none;
                }
                &.mobile-only {
                    display: none;
                }
                &.tablet-only {
                    display: none;
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .default-navigation {
        div.menu>ul, :not(.widget_nav_menu) > div >ul.menu {
            li {
                &.hide-mobile {
                    display: none;
                }
                &.desktop-only {
                    display: none;
                }
                &.tablet-only {
                    display: none;
                }
            }
        }
    }
}
