.jankx-posts-layout {
    .post-thumbnail {
        max-height: 300px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.jankx-posts {
    &.left-thumbnail {
        .post {
            display: flex;
        }
    }

    .post {
        .post-title {
            font-size: 0.9rem;
        }

        &.thumbnail-left {
            display: flex;

            .post-thumbnail {
                width: 120px;
            }

            .post-infos {
                flex: 1;
            }
        }
    }
}

@media(min-width: 992px) {
    .jankx-posts-layout {
        &.left-post {
            &.right-list {
            }

            .jankx-posts-layout-inner {
                display: flex;
            }
        }
    }
}
