.jankx-posts {
    &.left-thumbnail {
        .post {
            display: flex;
        }
    }

    &.list {
        .post {
            &.thumbnail-left {
                display: flex;
            }
        }
    }
}

@media(min-width: 992px) {
    .jankx-posts-layout {
        &.left-post {
            &.right-list {
            }

            .jankx-posts-layout-inner {
                display: flex;
            }
        }
    }
}
