.main-content-sidebar #jankx-main-content, .main-content-sidebar #jankx-primary-sidebar, .main-content-sidebar #jankx-secondary-sidebar {
  float: left;
}

#jankx-main-content {
  min-height: 100px;
}

.jankx-fw #jankx-main-content {
  width: 100%;
}

@media (min-width: 767px) {
  #jankx-main-content {
    width: 100%;
  }

  .jankx-scs #jankx-primary-sidebar, .jankx-css #jankx-primary-sidebar, .jankx-ssc #jankx-primary-sidebar {
    width: 50%;
  }
  .jankx-scs #jankx-secondary-sidebar, .jankx-css #jankx-secondary-sidebar, .jankx-ssc #jankx-secondary-sidebar {
    width: 50%;
  }

  .jankx-sc #jankx-primary-sidebar, .jankx-sc #jankx-secondary-sidebar, .jankx-cs #jankx-primary-sidebar, .jankx-cs #jankx-secondary-sidebar {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .jankx-scs #jankx-main-content, .jankx-css #jankx-main-content, .jankx-ssc #jankx-main-content {
    width: 50%;
  }
  .jankx-scs #jankx-primary-sidebar, .jankx-css #jankx-primary-sidebar, .jankx-ssc #jankx-primary-sidebar {
    width: 25%;
  }
  .jankx-scs #jankx-secondary-sidebar, .jankx-css #jankx-secondary-sidebar, .jankx-ssc #jankx-secondary-sidebar {
    width: 25%;
  }

  .jankx-sc #jankx-main-content, .jankx-cs #jankx-main-content {
    width: 70%;
  }
  .jankx-sc #jankx-primary-sidebar, .jankx-sc #jankx-secondary-sidebar, .jankx-cs #jankx-primary-sidebar, .jankx-cs #jankx-secondary-sidebar {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .jankx-scs #jankx-main-content, .jankx-css #jankx-main-content, .jankx-ssc #jankx-main-content {
    width: 60%;
  }
  .jankx-scs #jankx-primary-sidebar, .jankx-css #jankx-primary-sidebar, .jankx-ssc #jankx-primary-sidebar {
    width: 20%;
  }
  .jankx-scs #jankx-secondary-sidebar, .jankx-css #jankx-secondary-sidebar, .jankx-ssc #jankx-secondary-sidebar {
    width: 20%;
  }

  .jankx-sc #jankx-main-content, .jankx-cs #jankx-main-content {
    width: 72.5%;
  }
  .jankx-sc #jankx-primary-sidebar, .jankx-sc #jankx-secondary-sidebar, .jankx-cs #jankx-primary-sidebar, .jankx-cs #jankx-secondary-sidebar {
    width: 27.5%;
  }
}