.main-content-sidebar #jankx-main-content, .main-content-sidebar #jankx-primary-sidebar, .main-content-sidebar #jankx-secondary-sidebar {
  float: left;
}

.jankx-lfw #jankx-main-content {
  width: 100%;
}

@media (min-width: 767px) {
  #jankx-main-content {
    width: 100%;
  }

  .jankx-lscs #jankx-primary-sidebar, .jankx-lcss #jankx-primary-sidebar, .jankx-lssc #jankx-primary-sidebar {
    width: 50%;
  }
  .jankx-lscs #jankx-secondary-sidebar, .jankx-lcss #jankx-secondary-sidebar, .jankx-lssc #jankx-secondary-sidebar {
    width: 50%;
  }

  .jankx-lsc #jankx-primary-sidebar, .jankx-lsc #jankx-secondary-sidebar, .jankx-lcs #jankx-primary-sidebar, .jankx-lcs #jankx-secondary-sidebar {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .jankx-lscs #jankx-main-content, .jankx-lcss #jankx-main-content, .jankx-lssc #jankx-main-content {
    width: 50%;
  }
  .jankx-lscs #jankx-primary-sidebar, .jankx-lcss #jankx-primary-sidebar, .jankx-lssc #jankx-primary-sidebar {
    width: 25%;
  }
  .jankx-lscs #jankx-secondary-sidebar, .jankx-lcss #jankx-secondary-sidebar, .jankx-lssc #jankx-secondary-sidebar {
    width: 25%;
  }

  .jankx-lsc #jankx-main-content, .jankx-lcs #jankx-main-content {
    width: 70%;
  }
  .jankx-lsc #jankx-primary-sidebar, .jankx-lsc #jankx-secondary-sidebar, .jankx-lcs #jankx-primary-sidebar, .jankx-lcs #jankx-secondary-sidebar {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .jankx-lscs #jankx-main-content, .jankx-lcss #jankx-main-content, .jankx-lssc #jankx-main-content {
    width: 60%;
  }
  .jankx-lscs #jankx-primary-sidebar, .jankx-lcss #jankx-primary-sidebar, .jankx-lssc #jankx-primary-sidebar {
    width: 20%;
  }
  .jankx-lscs #jankx-secondary-sidebar, .jankx-lcss #jankx-secondary-sidebar, .jankx-lssc #jankx-secondary-sidebar {
    width: 20%;
  }

  .jankx-lsc #jankx-main-content, .jankx-lcs #jankx-main-content {
    width: 72.5%;
  }
  .jankx-lsc #jankx-primary-sidebar, .jankx-lsc #jankx-secondary-sidebar, .jankx-lcs #jankx-primary-sidebar, .jankx-lcs #jankx-secondary-sidebar {
    width: 27.5%;
  }
}