/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* == WordPress WYSIWYG Editor Styles == */
.entry-content img {
  margin: 0 0 1.5em 0;
}

.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}

.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}

.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

.alignnone, img.alignnone {
  /* not sure about this one */
}

.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
}

.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}

.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
}

.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}

blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}

blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}

.clearfix, .jankx-clearfix {
  clear: both;
}

small {
  font-size: 88%;
}

a {
  text-decoration: none;
}

.jankx-loading {
  display: none;
}

.jankx-logo.image a {
  display: block;
  background-repeat: no-repeat;
  background-position: left center;
  height: 60px;
  width: 180px;
  text-indent: -9999px;
}

.jankx-ui.navigation ul.menu {
  display: flex;
  align-items: center;
}
.jankx-ui.navigation li a {
  display: block;
  padding: 5px 10px;
}
.jankx-ui.navigation .jankx-subtitle {
  font-size: 88%;
}
.jankx-ui.navigation .jankx-subtitle.position-bottom, .jankx-ui.navigation .jankx-subtitleposition-top {
  display: block;
}

.jankx-footer-widgets-area {
  padding-top: 20px;
  padding-bottom: 20px;
}

.jankx-copyright {
  padding-top: 40px;
  padding-bottom: 40px;
}

#jankx-site-footer {
  clear: both;
}

#jankx-main-content, .sidebar {
  min-height: 100px;
}

.jankx-fw #jankx-main-content {
  width: 100%;
}

@media (min-width: 767px) {
  .main-content-sidebar {
    display: flex;
    flex-wrap: wrap;
  }

  #jankx-main-content {
    width: 100%;
  }

  .jankx-scs .sidebar, .jankx-css .sidebar, .jankx-ssc .sidebar {
    width: 50%;
  }
  .jankx-scs #jankx-primary-sidebar, .jankx-css #jankx-primary-sidebar, .jankx-ssc #jankx-primary-sidebar {
    width: 50%;
  }
  .jankx-scs #jankx-secondary-sidebar, .jankx-css #jankx-secondary-sidebar, .jankx-ssc #jankx-secondary-sidebar {
    width: 50%;
  }

  .jankx-sc #jankx-primary-sidebar, .jankx-sc #jankx-secondary-sidebar, .jankx-cs #jankx-primary-sidebar, .jankx-cs #jankx-secondary-sidebar {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .jankx-scs #jankx-main-content, .jankx-css #jankx-main-content, .jankx-ssc #jankx-main-content {
    width: 50%;
  }
  .jankx-scs .sidebar, .jankx-css .sidebar, .jankx-ssc .sidebar {
    width: 25%;
  }
  .jankx-scs #jankx-primary-sidebar, .jankx-css #jankx-primary-sidebar, .jankx-ssc #jankx-primary-sidebar {
    width: 25%;
  }
  .jankx-scs #jankx-secondary-sidebar, .jankx-css #jankx-secondary-sidebar, .jankx-ssc #jankx-secondary-sidebar {
    width: 25%;
  }

  .jankx-sc #jankx-main-content, .jankx-cs #jankx-main-content {
    width: 70%;
  }
  .jankx-sc .sidebar, .jankx-sc #jankx-primary-sidebar, .jankx-sc #jankx-secondary-sidebar, .jankx-cs .sidebar, .jankx-cs #jankx-primary-sidebar, .jankx-cs #jankx-secondary-sidebar {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .jankx-scs #jankx-main-content, .jankx-css #jankx-main-content, .jankx-ssc #jankx-main-content {
    width: 60%;
  }
  .jankx-scs .sidebar, .jankx-css .sidebar, .jankx-ssc .sidebar {
    width: 20%;
  }
  .jankx-scs #jankx-primary-sidebar, .jankx-css #jankx-primary-sidebar, .jankx-ssc #jankx-primary-sidebar {
    width: 20%;
  }
  .jankx-scs #jankx-secondary-sidebar, .jankx-css #jankx-secondary-sidebar, .jankx-ssc #jankx-secondary-sidebar {
    width: 20%;
  }

  .jankx-sc #jankx-main-content, .jankx-cs #jankx-main-content {
    width: 72.5%;
  }
  .jankx-sc .sidebar, .jankx-sc #jankx-primary-sidebar, .jankx-sc #jankx-secondary-sidebar, .jankx-cs .sidebar, .jankx-cs #jankx-primary-sidebar, .jankx-cs #jankx-secondary-sidebar {
    width: 27.5%;
  }
}
.jankx-base .jankx-container {
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.jankx-base .jankx-container {
  max-width: 1140px;
}

@media (max-width: 1024px) {
  .jankx-base .jankx-container {
    max-width: 1025px;
  }
}
@media (max-width: 767px) {
  .jankx-base .jankx-container {
    max-width: 768px;
  }
}
@media (min-width: 768px) {
  .widgets-area-inner {
    display: flex;
    flex-wrap: wrap;
  }
}